.container {
  max-width: 70%;
  margin: 0 auto;
  padding: 10px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}