.leader-full-body {
  margin-bottom: 150px;
}

.leader-title {
  position: relative;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  opacity: 0.8;
  color: #011627;
}

.leader-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 2px solid rgb(134, 255, 235);
  border-radius: 15px;
  padding: 40px;
  width: 900px;
  height: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.leader-avatar {
  object-fit: cover;
  border-radius:50%;
  width: 175px;
  height: 175px;
  margin-right: 10px;
  margin-left: 10px;
}

.leader-name {
  font-size: 40px;
  color: black;
}

.leader-body {
  padding: 10px 20px 10px 40px;
  height: 100%;
  border-left: 1px solid lightgrey;
}

.result-text {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.total-score {
  margin-top: 10px;
  font-size: 30px;
  padding: 30px 15px 15px 15px;
  text-align: center;
  background-color: rgb(238, 120, 120);
  border-radius: 15px;
}
