.userHome-full {
  margin-bottom: 100px;
}

.userHome-question-buttons-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 800px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.userHome-question-buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  padding: 8px 40px 10px 40px;
  background-color: #41ead4;
  color: #fdfffc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userHome-question-buttons:hover {
  background-color: #ff9f1c;
}

.userHome-unanswer-btn {
  flex: 1;
}

.userHome-answer-btn {
  flex: 1;
  margin-left: 20px;
}

.question-error {
  font-size: 30px;
  text-align: center;
  margin-top: 50px; 
}
