.info-box {
  border-radius: 5px;
  margin-top: 10%;
  padding: 60px 30px 65px 30px;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  height: 150px;
}

.tagline {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 5px;
  margin-bottom: 2rem;
}

.world-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  height: 150px;
}

.signin-text {
  text-align: center;
  margin-bottom: 1.5rem;
}

#dropdownMenuButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 3px;
  color: #fff;
  background-color: #ff9f1c;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-menu {
  width: 60%;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.user-dropdown:hover {
  color: #ff9f1c;
  background-color: #F4FFFD;
  cursor: pointer;
}

.user-dropdown .menu-avatar {
  object-fit: cover;
  border-radius:50%;
  width: 30px;
  height: 30px;
  margin-right: 10px; 
}

.user-dropdown .menu-name {
  color: black;
}

.user-dropdown .menu-name:hover {
  text-decoration: none;
  color: #ff9f1c;
}
